<section class="section footer-1 grey-dark-section section-padding-top-bottom-2" id="contacto">
  <div class="container footer">
    <div class="four columns section-padding-bottom-2" data-scroll-reveal="enter left move 200px over 0.5s after 0.8s">
      <div class="logo-footer"></div>
    </div>
    <div class="four columns" data-scroll-reveal="enter left move 200px over 0.5s after 0.3s">
      <h6>Whatsapp</h6>
      <p class="list-social"><a href="https://wa.me/+573054262363" target="_blank">+57 305 426 23
          63</a><br />
        Te habla Kathe</p>
    </div>
    <div class="four columns" data-scroll-reveal="enter right move 200px over 0.5s after 0.3s">
      <h6>Instagram</h6>
      <p class="list-social"><a href="https://instagram.com/mentar_" target="_blank">@mentar_</a><br />
        Te habla Angy</p>
    </div>
    <div class="four columns" data-scroll-reveal="enter right move 200px over 0.5s after 0.8s">
      <p><i class="icon-footer">&#xf0e0;</i><a href="mailto:mentarcol@gmail.com" title="">mentarcol@gmail.com</a></p>
    </div>
  </div>
</section>
<section class="section footer-bottom">
  <div class="container">
    <div class="sixteen columns">
      <p>© TODOS LOS DERECHOS RESERVADOS. MENTAR 2022</p>
    </div>
  </div>
</section>
