<section class="description-offer" id="proposito">

  <h5 class="subtitle-written green">Un propósito</h5>
  <h5 class="subtitle-written green">mayor</h5>

  <div class="purpose-content">
    <section class="section white-section section-padding-top-bottom-2" id="scroll-link-5">
      <div class="container">
        <div class="sixteen columns">
          <div id="owl-blockquotes" class="owl-carousel owl-theme">
            <div class="item blockquotes-1">
              <img src="../../../assets/images/coursel/photo-1.jpg" alt="photo-1">
            </div>
            <div class="item blockquotes-1">
              <img src="../../../assets/images/coursel/photo-2.JPG" alt="photo-2">
            </div>
            <div class="item blockquotes-1">
              <img src="../../../assets/images/coursel/photo-3.JPG" alt="photo-3">
            </div>
            <div class="item blockquotes-1">
              <img src="../../../assets/images/coursel/photo-4.JPG" alt="photo-4">
            </div>
            <div class="item blockquotes-1">
              <img src="../../../assets/images/coursel/photo-5.JPG" alt="photo-5">
            </div>
            <div class="item blockquotes-1">
              <img src="../../../assets/images/coursel/photo-6.JPG" alt="photo-6">
            </div>
            <div class="item blockquotes-1">
              <img src="../../../assets/images/coursel/photo-7.JPG" alt="photo-7">
            </div>
            <div class="item blockquotes-1">
              <img src="../../../assets/images/coursel/photo-8.JPG" alt="photo-8">
            </div>
            <div class="item blockquotes-1">
              <img src="../../../assets/images/coursel/photo-9.JPG" alt="photo-9">
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="purpose-paragraph">
      <p class="main-font line-height-global">En Mentar, creemos que el emprendimiento con propósito
        es la
        herramienta para construir una mejor sociedad.
        Nuestro objetivo es aportar todo nuestro conocimiento y amor para que millones de
        emprendedores
        construyan marcas con propósito, que les permita vivir de su pasión y ayuden a mejorar la
        vida de otras
        personas.</p>
      <p class="main-font line-height-global">Es por esto, que al comprar nuestra Mentoría, no solo
        adquieres el
        conocimiento para crear una marca con propósito. Sino que además el 10% de tu pago será
        destinado a
        nuestro programa "Pequeños creativos" donde educamos a niños de bajos recursos para
        despertar su
        espíritu emprendedor.</p>
      <h5 class="second-font"><span class="subtitle-written">¡Hagamos doble impacto en la
          sociedad!</span></h5>
      <div class="button-buy">
        <a href="https://api.whatsapp.com/send/?phone=573054262363&text&type=phone_number&app_absent=0"
          target="_blank">COMPRAR MENTORÍA</a>
      </div>
    </div>

  </div>
</section>
