<section class="section grey-section section-padding-top-bottom" id="asesoria">

  <div class="container">

    <div class="sixteen columns">
      <div class="section-title">
        <div class="subtitle main-weight main-font line-height-global">
          Si quieres crear una marca con propósito y lograr grandes resultados, déjanos tus datos y te
          enviamos
        </div>
        <h3 class="font-bold line-height-global last-font">
          LA ASESORÍA INICIAL
        </h3>
        <h3 class="font-bold line-height-global last-font">
          Completamente gratis
        </h3>
      </div>
    </div>

    <div class="clear"></div>

    <form autocomplete="off" [formGroup]="form">
      <div class="sixteen columns">
        <label for="name">
          <span class="error-message" *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">Porfa ingresa tu nombre</span>
        </label>
        <input name="name" id="name" type="text" formControlName="name" required placeholder="Nombre: *" />
      </div>

      <div class="sixteen columns">
        <label for="phone">
          <span class="error-message" *ngIf="form.get('phone')?.hasError('minlength') && form.get('phone')?.touched">Debe de tener minimo 10 numeros</span>
            <span class="error-message" *ngIf="form.get('phone')?.hasError('maxlength') && form.get('phone')?.touched">Debe de tener maximo 10 numeros</span>
          <span class="error-message" *ngIf="form.get('phone')?.hasError('required') && form.get('phone')?.touched">Porfa ingresa tu Whatsapp</span>
        </label>
        <input name="phone" id="tel" type="tel" formControlName="phone" required placeholder="Whatsapp: *" />
      </div>

      <div class="sixteen columns">
       <label for="email">
            <span class="error-message" *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">Porfa ingresa un correo electrónico</span>
            <span class="error-message" *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">el correo electrónico no tiene un formato
              válido</span>
          </label>
        <input name="email" id="email" type="email" formControlName="email" required placeholder="Correo electrónico: *" />
      </div>
      <div class="sixteen columns">
        <div id="button-con">
          <button type="button" class="send_message" (click)="saveUser()" [disabled]="showLoader || form.invalid">
            <ng-container *ngIf="!showLoader">
              ASESORÍA GRATIS
            </ng-container >
            <mat-spinner *ngIf="showLoader" [diameter]="25" [strokeWidth]="6"></mat-spinner>
          </button>
        </div>
      </div>
    </form>

  </div>

</section>

<p-toast position="top-left" key="myKey1"></p-toast>
