<section class="section green-section" id="scroll-link">
  <div class="section-steps green-section">
    <div class="step">
      <span class="step-icons step-icon-book"></span>
      <p> <b>Paso 1.</b> Aprende a implementar “La ruta de marca” con nuestra mentoría.</p>
    </div>
    <div class="step">
      <span class="step-icons step-icon-heart"></span>
      <p> <b>Paso 2.</b> Crea una marca con Propósito.</p>
    </div>
    <div class="step">
      <span class="step-icons step-icon-hand"></span>
      <p> <b>Paso 3.</b> Vive de tu pasión mientras ayudas a mejorar la vida de otras personas.</p>
    </div>
  </div>
</section>
