<section class="section section-padding-top-2" id="mentoria">
  <div class="container">
    <div class="sixteen columns">
      <div class="section-title">
        <h3><span class="subtitle-written">MENTORÍA</span> <span class="green">PERSONALIZADA</span>
        </h3>
        <div class="subtitle">¿Qué incluye?</div>
      </div>
    </div>
    <div class="sixteen columns">
      <div id="cd-timeline" class="cd-container">

        <div class="cd-timeline-block">
          <div class="cd-timeline-img">&#xf00c;</div> <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <h6>1. Ebook</h6>
            <p>Te compartimos un Ebook con todo el conocimiento paso a paso para que lo apliques
              correctamente a tu marca.</p>
          </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
          <div class="cd-timeline-img">&#xf15c;</div> <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <h6>2. Plantillas</h6>
            <p>Puedes ir aplicando lo aprendido de manera práctica sobre Las Plantillas que te
              enviamos.</p>
          </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
          <div class="cd-timeline-img">&#xf086;</div> <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <h6>3. Acompañamiento</h6>
            <p>Durante toda tu mentoría tienes contacto con nosotras por medio del grupo de
              Whatsapp que creamos solo para tí.</p>
          </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
          <div class="cd-timeline-img">&#xf073;</div> <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <h6>4. Reunión virtual</h6>
            <p>Tenemos reuniones virtuales de 1 hora cada una, para asesorarte y potenciar lo
              desarrollado en las Plantillas.</p>
          </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
      </div>
    </div>
  </div>
</section>
