<section class="cards">
  <div class="container container-cards">
    <div class="one-third column card" data-scroll-reveal="enter left move 200px over 1s after 0.8s">
      <div class="title-card">
        <h5 class="subtitle-written">Etapa 1</h5>
      </div>
      <div class="portfolio-box-2 grey-section">
        <img src="../../../assets/images/cards/stage-1.jpg" alt="mentoria-1">
        <h6>1. Modelo de negocio</h6>
        <p>Aprenderás a definir tu propósito, vas a organizar y estructurar todas tus ideas, para
          lograr
          diferenciarte en el mercado.</p>
        <div class="button-card">
          <h6>Valor $420.000</h6>
          <!-- <a  href="./pdf/procedimiento.pdf" download>DESCARGAR PENSUM</a> -->
        </div>
      </div>
    </div>

    <div class="one-third column card" data-scroll-reveal="enter left move 200px over 1s after 0.8s">
      <div class="title-card">
        <h5 class="subtitle-written">Etapa 2</h5>
      </div>
      <div class="portfolio-box-2 grey-section">
        <img src="../../../assets/images/cards/stage-2.jpg" alt="mentoria-2">
        <h6>2. Esencia de marca</h6>
        <p>Aprenderás a darle una personalidad e identidad gráfica a tu marca, para lograr conectar
          y enamorar a tu audiencia.</p>
        <div class="button-card">
          <h6>Valor $420.000</h6>
          <!-- <a href="https://wa.link/fej1bl" target="_blank">COMPRAR MENTORÍA 2</a> -->
        </div>
      </div>
    </div>

    <div class="one-third column card" data-scroll-reveal="enter left move 200px over 1s after 0.8s">
      <div class="title-card">
        <h5 class="subtitle-written">Etapa 3</h5>
      </div>
      <div class="portfolio-box-2 grey-section">
        <img src="../../../assets/images/cards/stage-3.jpg" alt="mentoria-3">
        <h6>3. Estrategia digital</h6>
        <p>Aprenderás todo sobre comunicación estratégica, para lograr crear contenido inspirador y
          creativo en Instagram.</p>
        <div class="button-card">
          <h6>Valor $580.000</h6>
          <!-- <button>COMPRAR MENTORÍA 3</button> -->
        </div>
      </div>
    </div>

    <div class="one-third column card" data-scroll-reveal="enter left move 200px over 1s after 0.8s">
      <div class="title-card">
        <h5 class="subtitle-written">Mentoría full</h5>
      </div>
      <div class="portfolio-box-2 grey-section">
        <img src="../../../assets/images/cards/full.jpg" alt="mentoria-full">
        <h6>Mentoría full</h6>
        <p>Si realmente estás dispuesto a crear una marca con propósito, aprovecha nuestro descuento
          por tomar las 3 mentorías y ahórrate $220.000</p>
        <div class="button-card">
          <h6>Valor $1.200.000</h6>
          <a href="https://wa.link/lsj1o4" target="_blank" style="background: #f0eb95;">COMPRAR
            MENTORÍA</a>
        </div>
      </div>
    </div>
  </div>
</section>
