<section class="home">

  <div class="slider-container">
    <div class="slider-text green">
      <span class="heart-icon"></span>
      <h3 class="green third-font line-height-global" id="title-complete">
        Te enseñamos a construir una marca con propósito
      </h3>
      <h3 class="green third-font line-height-global" id="home-title">
        Te enseñamos a construir una marca
      </h3>
      <h3 class="subtitle-written third-font" id="home-subtitle">con PROPÓSITO</h3>
      <p class="subtitle subtitle-v2 main-font">que te permita vivir de tu pasión y ayude a mejorar la
        vida de otras personas</p>
    </div>

    <div class="button-buy">
      <a href="#etapas" class="scroll">COMPRAR MENTORÍA</a>
    </div>
  </div>
</section>
