:host ::ng-deep button {
  margin-right: .25em;
}

::ng-deep.p-sidebar {
  background-color: #6D6E71;
}

::ng-deep.pi-times:before {
  color: white;
}

.nav-logo {
  margin: 20px;
  margin-top: 0px;
}

::ng-deep.p-sidebar .p-sidebar-content {
  padding: 0px;

  a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #7d7777;
  }
}
