<p-sidebar [(visible)]="visibleSidebar" position="right" styleClass="sidebar-menu" [baseZIndex]="10000" [dismissible]="true" (onHide)="handleCloseSidebar()">
  <ng-template pTemplate="content">
    <nav>
      <ul>
        <li>
          <div class="nav-logo"><img src="/assets/images/logo.png" alt="Logo"></div>
        </li>
        <li>
          <a href="#mentoria" class="scroll" >Mentoría</a>
        </li>
        <li>
          <a href="#etapas" class="scroll">Etapas</a>
        </li>
        <li>
          <a href="#proposito" class="scroll">Proposito</a>
        </li>
        <li>
          <a href="#asesoria" class="scroll" >Asesoría gratis</a>
        </li>
        <li>
          <a href="#etapas" class="scroll">Contacto</a>
        </li>
      </ul>
    </nav>
  </ng-template>
</p-sidebar>
