::ng-deep.mat-dialog-container {
  padding: 0px;
}

.image-1 {
  background: url("/assets/images/pensum-1.jpg") no-repeat center center;
  background-size: cover;
}

.image-2 {
  background: url("/assets/images/pensum-2.jpg") no-repeat center center;
  background-size: cover;
}

.image-3 {
  background: url("/assets/images/pensum-3.jpg") no-repeat center center;
  background-size: cover;
}

.image-modal {
  height: 485px;
  width: 385px;
}

.modal-headers {
  justify-content: flex-end;
  padding: 20px;
  display: flex;
}

.btn-close:hover {
  background: none;
}

@media only screen and (max-width: 486px) {
  .image-modal {
    height: 425px;
    width: 288px;
  }
}
