<div class="header-top">

  <header class="cd-main-header green-section">
    <span class="cd-logo"><img src="/assets/images/logo.png" alt="Logo"></span>

    <button pButton pRipple type="button" icon="pi pi-bars" (click)="visibleSidebar = true"
     class="p-button-rounded p-button-text button-menu"></button>

     <nav>
      <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
        <li>
          <div class="nav-logo"><img src="/assets/images/logo.png" alt="Logo"></div>
        </li>
        <li>
          <a href="#mentoria" class="scroll">Mentoría</a>
        </li>
        <li>
          <a href="#etapas" class="scroll">Etapas</a>
        </li>
        <li>
          <a href="#proposito" class="scroll">Proposito</a>
        </li>
        <li>
          <a href="#asesoria" class="scroll">Asesoría gratis</a>
        </li>
        <li>
          <a href="#contacto" class="scroll">Contacto</a>
        </li>
      </ul>
    </nav>
  </header>

</div>

<app-sidebar [visibleSidebar]="visibleSidebar" (emitCloseSidebar)="visibleSidebar = $event"></app-sidebar>
