::ng-deep.mat-dialog-container {
  padding: 0px;
}

.error {
	font: 10px/22px 'Open Sans', sans-serif;
	display: none;
	color:#ff835c;
}

.text-align-center{
	text-align:center;
	padding-top:10px;
 }

/* MODAL */

.modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  padding-bottom: 0px;
  background: #f1f2f2;
  border: none;
}

.modal-content  .section-padding-top-bottom {
  padding-top: 0px;
}

.btn-close:hover {
  background: none;
}

@media only screen and (min-width: 960px) {

  .input-modal {
    max-width: 98%;
  }

  .modal-content form {
    padding: 0px 50px;
  }
}

.error-message {
  color: red;
}

@media only screen and (max-width: 479px) {
  .modal-content {
    width: 342px;
  }
}


@media only screen and (min-width: 768px) and (max-width: 959px){
.container .sixteen.columns {
    width: 695px;
  }
}
